* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --button-radius: 35px;
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1352px;
}

.header {
  box-shadow: 0 3px 6px #00000029;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 32px;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 300;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}

.nav__link {
  color: var(--color-grey);
  font-family: var(--font-open-sans);
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3.28px;
  padding: 26px 15px 23px 15px;
}

.nav__link:hover {
  border-bottom: 4px solid var(--color-primary);
  color: var(--color-black);
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opening__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
}

.opening__header {
  color: var(--color-black);
  font-size: 49px;
  font-family: var(--font-raleway);
  font-weight: 400;
  padding-bottom: 20px;
}

.opening__description {
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  padding-bottom: 38px;
}

.opening__button {
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-primary);
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  width: 440px;
  padding: 22px 0 23px 0;
  border-radius: 40px;
}

.opening__background {
  width: 100%;
  height: auto;
}

.statistics {
  background-color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 122px;
}

.statistics__container {
  text-align: center;
}

.statistics__header {
  color: var(--color-black);
  font-size: 36px;
  font-family: var(--font-raleway);
  font-weight: 400;
  margin-bottom: 101px;
}

.statistics__columns {
  display: flex;
  justify-content: center;
  gap: 210px;
}

.statistics__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 139px;
}

.statistics__circle {
  display: flex;
  justify-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.circle__one {
  background-color: var(--color-redish);
  padding-bottom: 5px;
}

.circle__two {
  background-color: var(--color-primary);
}

.circle__three {
  background-color: var(--color-green);
  padding-bottom: 5px;
}

.statistics__icon {
  padding-left: 40px;
}

.statistics__column-header {
  color: var(--color-black);
  font-family: var(--font-raleway);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5.96px;
  padding-top: 13px;
  padding-bottom: 19px;
}

.statistics__column-description {
  color: var(--color-grey);
  font-family: var(--font-raleway);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.benefits {
  background-color: var(--color-light-grey);
  padding-top: 105px;
  padding-bottom: 105px;
}

.benefits__container {
  width: 1124px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.benefits__row {
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 0 35px; /*tu width ustawione roboczo*/
  height: 370px;
  display: flex;
  justify-content: space-between;
}

.benefits__column {
  width: 416px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits__header {
  color: var(--color-black);
  font-family: var(--font-raleway);
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 30px;
  width: 60%;
  line-height: 42px;
}

.benefits__desc {
  color: var(--color-black);
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.line {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  width: 328px;
  margin-top: 50px;
}

.line__one {
  background-color: var(--color-redish);
}

.line__two {
  background-color: var(--color-primary);
}

.line__three {
  background-color: var(--color-green);
}

.macbook {
  width: 386px;
  height: 219px;
  z-index: 1;
  position: relative;
}

.benefits__column-image-one {
  position: relative;
  top: 38px;
  right: 60px;
}

.benefits__column-image-one::before {
  content: "";
  background-color: var(--color-redish);
  width: 181px;
  height: 181px;
  border-radius: 40px;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  bottom: 77px;
}

.iphone {
  width: 426px;
  height: 328px;
  z-index: 1;
  position: relative;
}

.benefits__column-image-two {
  position: relative;
  top: 5px;
  left: 35px;
}

.benefits__column-image-two::before {
  content: "";
  background-color: var(--color-primary);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  bottom: 24px;
}

.benefits-sec__row {
  display: flex;
  justify-content: space-between;
  height: 370px;
}

.benefits-sec__column-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 623px;
  background-color: var(--color-white);
  padding: 0 35px;
}

.benefits-sec__column-one .benefits__header {
  width: 70%;
}

.benefits-sec__column-two {
  width: 440px;
  background-color: var(--color-green);
  padding-top: 98px;
  padding-left: 62px;
}

.trumpet {
  width: 296px;
  height: 208px;
}

.pricing {
  background-color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 100px;
}

.pricing__header {
  font-family: var(--font-raleway);
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}

.pricing__columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 59px;
  text-align: center;
  margin-top: 50px;
}

.pricing__column {
  width: 372px;
  height: 461px;
  padding-top: 32px;
  border-width: 1px;
  border-color: var(--color-redish); /*robocze*/
  border-style: solid;
  border-radius: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__column:nth-of-type(2) {
  height: 500px;
  border-color: var(--color-primary);
  box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing__column:nth-of-type(2) .pricing__box .pricing__price {
  color: var(--color-primary);
}

.pricing__column:nth-of-type(3) {
  border-color: var(--color-green);
}

.pricing__column:nth-of-type(3) .pricing__box .pricing__price {
  color: var(--color-green);
}

.pricing__model {
  font-size: 20px;
  font-family: var(--font-raleway);
  font-weight: 700;
  color: #13253b;
}

.pricing__price {
  font-size: 46px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  color: red; /*robocze*/
  margin-top: 14px;
}

.pricing__limited-offer {
  font-size: 12px;
  font-family: var(--font-raleway);
  font-weight: 700;
  color: #13253b;
  margin-top: 25px;
}

.pricing__list {
  margin-top: 36px;
}

.basic {
  margin-top: 73px;
}

.pricing__feature {
  font-size: 14px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  padding-top: 25px;
}

.pricing__feature::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  background-image: url(../assets/Checkmark-1.svg);
  margin-right: 10px;
}

.close::before {
  background-image: url(../assets/Close.svg);
}

.pricing__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-redish);
  color: var(--color-white);
  width: 150px;
  height: 50px;
  border-radius: 23px;
  font-family: var(--font-open-sans);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  position: absolute;
  bottom: -25px;
}

.pricing__column:nth-of-type(2) .pricing__button {
  background-color: var(--color-primary);
}

.pricing__column:nth-of-type(3) .pricing__button {
  background-color: var(--color-green);
}

.contact {
  margin-top: 55px;
  background-color: var(--color-white);
}

.contact__container {
  display: flex;
  justify-content: space-between;
  width: 896px;
}

.contact__header {
  color: var(--color-black);
  font-size: 49px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 57px;
}

.contact__description {
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  margin-top: 22px;
}

.contact__icons {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  color: var(--color-grey);
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 600;
}

.contact__icon {
  display: flex;
  align-items: center;
}

.contact__icon-mail::before {
  content: url("../assets/Mail Icon.svg");
  margin-right: 10px;
}

.contact__icon-phone::before {
  content: url("../assets/Phone Icon.svg");
  margin-right: 10px;
}

.contact__column-two {
  width: 440px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-form__title {
  color: var(--color-primary);
  font-size: 11px;
  font-family: var(--font-open-sans);
  font-weight: 700;
  letter-spacing: 3.28px;
}

.contact-form input {
  height: 42px;
  border: 0;
  border-bottom: 1px solid #95989a;
  font-size: 16px;
  margin-bottom: 42px;
}

.agreement {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.agreement > input[type="checkbox"],
.checkbox::after {
  display: none;
}

.checkbox::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #95989a;
  border-radius: 4px;
}

input:checked ~ .checkbox::before {
  content: url("../assets/Checkmark.svg");
  font-size: 22px;
  color: white;
  text-align: center;
}

.agreement-description {
  font-size: 12px;
  color: #707070;
  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 17px;
}

.form-send {
  display: flex;
  justify-content: flex-end;
}

.form-send input {
  width: 226px;
  height: 57px;
  color: var(--color-white);
  font-size: 13px;
  font-weight: 700;
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  margin-top: 20px;
}

.footer {
  background-color: var(--color-light-grey);
  box-shadow: 0 -5px 40px #00000029;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.footer__logo {
  font-family: var(--font-raleway);
  font-size: 26px;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 300;
  line-height: 30px;
}

.footer__copyright {
  color: var(--color-grey);
  font-size: 11px;
  font-family: var(--font-open-sans);
  margin-top: 7px;
}

.footer__social {
  display: flex;
  gap: 20px;
}
